/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 216, 230);
    min-height: 50px;
}

.secondary-header {
    background-color: green;
    min-height: 400px;
}

.nav-box {
    border: 1px dashed;
    min-width: 1080px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.jumbotron {
    border: 2px dashed;
    min-width: 800px;
    min-height: 300px;
    background-color: purple;
}

/* Nav Header */

.logo {
    border: 1px dashed;
    width: 25%;
    min-height: 30px;
    display: inline-block;
}

.link {
    border: 1px dashed;
    width: 50%;
    min-height: 30px;
    display: inline-block;
}

.login {
    border: 1px dashed;
    width: 25%;
    min-height: 30px;
    display: inline-block;
}

/* Container */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.general-container {
    display: flex;
    min-height: 400px;
    min-width: 1080px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.primary-container {
    background-color: blue;
    flex-basis: calc(100% / 3 * 2);
    min-height: 400px;
}

.secondary-container {
    background-color: red;
    flex-basis: calc(100% / 3);
    min-height: 400px;
}

.reverse {
    flex-direction: row-reverse;
}

.contbkg {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.download-container {
    background-color: green;
    flex-basis: 100%;
    min-height: 800px;
}