/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Generali */

:root {
    --border: 1px dashed;
    --border2: 2px dashed;
}

/* Utility */

.nav-box,
.general-container,
.button-container,
.tertiary-footer-container {
    min-width: 1080px;
}

.primary-container,
.secondary-container,
.download-container,
.primary-footer-container,
.jumbotron,
.secondary-footer-container {
    border: var(--border2);
}

.general-container,
.primary-container,
.secondary-container,
.secondary-header,
.primary-footer-container,
.secondary-footer-container {
    min-height: 400px;
}

/* Header */

header {
    background-color: rgb(173, 216, 230);
    min-height: 50px;
}

.secondary-header {
    background-color: green;
}

.nav-box {
    border: var(--border);
    min-height: 30px;
    display: flex;
    background-color: yellow;
}

.jumbotron {
    min-width: 800px;
    min-height: 300px;
    background-color: purple;
}

/* Nav Header */

.logo,
.link,
.login {
    border: var(--border);
    min-height: 30px;
    display: inline-block;
}

.logo,
.login {
    width: 25%;
}

.link {
    width: 50%;
}

/* Container */

main {
    flex-wrap: wrap;
    margin: 0 auto;
}

.general-container {
    display: flex;
    margin: 30px 0;
}

.primary-container {
    background-color: blue;
    flex-basis: calc(100% / 3 * 2);
}

.secondary-container {
    background-color: red;
    flex-basis: calc(100% / 3);
}

.reverse {
    flex-direction: row-reverse;
}

.contbkg,
footer>div,
.button-container,
main,
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contbkg {
    background-color: gray;
    width: 100%;
}

.download-container {
    background-color: green;
    flex-basis: 100%;
    min-height: 800px;
}

/* Footer */

footer>div {
    background-color: black;
    width: 100%;
}

.primary-footer-container {
    background-color: lightblue;
    flex-basis: calc(100% / 4 * 3);
    display: flex;
}

.secondary-footer-container {
    background-color: palevioletred;
    flex-basis: calc(100% / 4);
}

.col-footer {
    border: var(--border);
    width: 25%;
    min-height: 100%;
    display: inline-block;
}

.button-container {
    border: var(--border);
    height: 40px;
    justify-content: space-between;
    background-color: rgb(0, 255, 200);
}

.last-container {
    margin: 1px 0;
}

.tertiary-footer-container {
    display: flex;
    min-height: 30px;
    margin-top: 20px;
}

.logo-footer,
button {
    border: var(--border);
    width: 5%;
    min-height: 60%;
    display: inline-block;
    background-color: pink;
}

button {
    cursor: pointer;
}